<!DOCTYPE html>
<html>
<head>
	<title>Customer Create</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--  <link rel="import" href="header.html"> -->
	<meta charset="ISO-8859-1">		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
		type="text/javascript"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"
		type="text/javascript"></script>
	
	<script src="js/app.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<div ng-app="grantDanielCustomerCreateApp" ng-controller="customerCreateCtrl">

		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-static-top">
				<p class="navbar-text">Customer Management App - GDC LLC</p>
				<ul class="nav navbar-nav">
					<li> 
						<a href="customer_search.html">Customer Search</a>
					</li>
					<li class="active">
						<a href="customer_create.html">Create</a>
					</li>													
				</ul>								
			</nav>
			
			<h4>Please enter all required data and press 'Create' to enter a new customer.</h4>
			<h4>Press 'Clear' to reset input.</h4>
			
			<div class="customerCreatePage">			
				
				<div class="header">
					<button type="button" ng-click="createCustomer()" 
						ng-disabled="isCreateCustomerDisabled"
						class="btn btn-success"> <span class="glyphicon glyphicon-edit"></span>Create</button>
					<button type="button" ng-click="clearCreate()" 
						class="btn btn-warning"> <span class="glyphicon"></span>Clear</button>				
					
					<p> <span class="warning" id="createStatusId" ng-bind="createStatus"></span></p>
				</div>
				
				
				<table  class="customerCreate">						
						<tr>							
							<td>
								<label for="newId">ID:</label><br>
								<input name="newId" type="text" required ng-model="newCustomerId" ng-disabled="lock" size=10 />
								<p><span class="warning" ng-bind="idMessage"></span></p>
							</td>
						</tr>						
						<tr>							
							<td>
								<label for="newName">Company Name:</label><br>
								<input name="newName" type="text" required ng-model="newCustomerCompanyName" ng-disabled="lock" size=35/>
								<p><span class="warning" ng-bind="nameMessage"></span></p>
							</td>
						</tr>
						<tr>							
							<td>
								<label for="newCity">City:</label><br>
								<input name="newCity" type="text" required ng-model="newCustomerCity" ng-disabled="lock" size=20/>
								<p><span class="warning" ng-bind="cityMessage"></span></p>
							</td>
						</tr>						
						<tr>							
							<td>
								<label for="newCountry">Country:</label><br>
								<select name="newCountry" required
										ng-options="x for x in countries" 
										ng-model="newCustomerCountry" 
										ng-disabled="lock">
								</select>								
							</td>
						</tr>
						<tr>							
							<td>
								<input type="checkbox" required										
										ng-model="newBigCustomer" 
										ng-disabled="lock" />
								<label for="newBigCustomer">Big Customer</label><br>
								<input type="checkbox" required										
										ng-model="newGreenCustomer" 
										ng-disabled="lock" />
								<label for="newGreenCustomer">Green Customer</label><br>	
								<input type="checkbox" required										
										ng-model="newEnglishCustomer" 
										ng-disabled="lock" />
								<label for="newEnglishCustomer">English Customer</label><br>															
							</td>
						</tr>														
				</table>				
							
			</div>
			
			<div class="footer">Angular JS Example Copyright Grant Daniel Consulting LLC</div>
			
		</div>
			
	</div>


</body>
</html>