<!DOCTYPE html>
<html ng-app="grantDanielCustomerApp">
<head>
	<title>Customer Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="import" href="header.html"> -->
	<meta charset="ISO-8859-1">		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
		type="text/javascript"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"
		type="text/javascript"></script>
	
	<script src="js/app.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

	<div ng-controller="customersCtrl">

		<div class="container-fluid">
			 
			<nav class="navbar navbar-inverse navbar-static-top">
				<p class="navbar-text">Customer Management App - GDC LLC</p>
				<ul class="nav navbar-nav">
					<li class="active"> 
						<a href="customer_search.html">Customer Search</a>
					</li>
					<li>
						<a href="customer_create.html">Create</a>
					</li>													
				</ul>								
			</nav>			
			
			<div class="customerSearch" ng-hide="hideCustomerSearch">			
				
				<div class="header">
					<button type="button" ng-click="getCustomers()" ng-disabled="isGetCustomersDisabled"
						class="btn btn-success"> <span class="glyphicon glyphicon-refresh"></span>Get Customers</button>
					<button type="button" ng-click="resetSearch()" ng-disabled="isClearCustomersDisabled"
						class="btn btn-warning"> <span class="glyphicon glyphicon"></span>Clear</button>
					<input type="text" ng-model="nameFilter" placeholder="customer filter"
						ng-disabled="isClearCustomersDisabled">
				</div>
				
				<table  ng-hide="hideCustomerSearchResults">
					<tr>
						<th></th>
						<th>Customer ID</th>
						<th>Name</th>
						<th>City</th>
						<th>Country</th>
					</tr>
					<tr ng-repeat="customer in myCustomers | filter : nameFilter">
						<td><button ng-click="editCustomer(customer)"><span class="glyphicon glyphicon-edit"></span>Edit</button>
						<td>{{customer.customerId}}</td>
						<td>{{customer.companyName}}</td>
						<td>{{customer.city}}</td>
						<td>{{customer.country}}</td>
					</tr>				
				</table>
				<br>
							
			</div>
			
			<div ng-hide="hideCustomerEditDelete">	
			
				<h4>Press 'Update' to save customer changes.</h4>
				<h4>Press 'Cancel' to return to customer search.</h4>		
				
				<div class="header">
					<button type="button" ng-click="updateCustomer()" ng-disabled="isUpdateDisabled"
						class="btn btn-success"> <span class="glyphicon glyphicon-edit"></span>Update</button>
					<button type="button" ng-click="resetSearch()" 
						class="btn btn-warning"> <span class="glyphicon"></span>Cancel</button>
					
					<p> <span id="statusId" ng-bind="updateStatus"></span></p>
				</div>
				
				<form>
					<table  class="customerUpdate">						
						<tr>							
							<td><label for="id">ID:</label><br>
							<p id="id" ng-bind="customer.customerId"></p>
							</td>
						</tr>						
						<tr>							
							<td><label for="name">Company Name:</label><br>
							<input ng-change="turnUpdateOn()" id="name" type="text" ng-model="customer.companyName" size=40/></td>
						</tr>
						<tr>							
							<td><label for="city">City:</label><br>
							<input ng-change="turnUpdateOn()" id="city" type="text" ng-model="customer.city" size=15/></td>
						</tr>						
						<tr>							
							<td><label for="country">Country:</label><br>
							<input ng-change="turnUpdateOn()" id="country" type="text" ng-model="customer.country" size=15/></td>
						</tr>														
					</table>
				</form>
				<br>
							
			</div>
			
			<div class="footer">Angular JS Example Copyright Grant Daniel Consulting LLC</div>

		</div>	
	</div>		
	
</body>
</html>